.smallphoto {
  height: 160px;
  width: 150px;
}

.bg-danger {
  background-color: #f2d1ff;
}

.bg-danger-box {
  background-color: #faedff;
}

.bg-success {
    background-color: #d9f9db;
}

.bg-success-box {
    background-color: #e8f7ea;
}

.bg-info {
  background-color: #cfe3f9;
}

.bg-info-box {
  background-color: #e5eff9;
}

h3 {
  border: solid thin black;
  margin-bottom: 24px;
}

h2 {
  margin-top: 1%;
  font-family: Arial, sans-serif;
  font-size: 23px;
}

.center-text {
  text-align: center;
}

.welcome-row {
  max-height: 90px;
  padding-left: 1px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

img {
  margin: 2%;
  max-width: 200px;
  max-height: 150px;
}

img.feature{
  margin: 2%;
  max-width: 350px;
  max-height: 350px;

}
